@model ClubeDaLeituraWeb.WebApp.ModuloEmprestimo.Dominio.Emprestimo

<h2>Novo Empréstimo</h2>

@if (!ViewData.ModelState.IsValid)
{
    <p style="color:red">@ViewData.ModelState[""]?.Errors[0].ErrorMessage</p>
}

<form method="post">
    <label>Amigo:</label><br/>
    <input type="text" name="Amigo" required /><br/><br/>

    <label>Revista:</label><br/>
    <input type="text" name="Revista" required /><br/><br/>

    <label>Data Devolução:</label><br/>
    <input type="date" name="DataDevolucao" required /><br/><br/>

    <button type="submit">Registrar Empréstimo</button>
</form>

<br/>
<a href="/Emprestimo">Voltar</a>